:root {
    /* HEX */
    --white:#fff;
    --whiteButton:#fefefe;
    --whiteBack:#f5f5f5;

    --backMain:#212121;
    --backH:#292929;
    --backNav:#090909;

    --grey:#ccc;
    --greyBorder:#ddd;
    --greyDark:#8d8d8d;

    --blue:#2478f9;
    --purple:#6941aa;
    --red:#ff491f;

}

html, body, p, a, h1, h2
 {
    font-size: 12px;
    color: var(--backMain);
}
h2 {
    font-size: 24px;
    color: var(--backH);
    font-weight: 600;
}
h3 {
    font-size: 14px;
    font-weight: 600;
    color: var(--backH);
    margin-bottom: 12px;
}

.uk-input,
.uk-select,
.uk-textarea {
    border-radius: 5px;
    min-width: 150px;
}

/* -------------------MARGIN PADDING */
.margin-top-50{
    margin-top: 50px;
}

/* ///////////////////MARGIN PADDING */

.uk-navbar {
    padding: 0 60px;
}
.uk-navbar>div {
    font-size:12px
}
.uk-navbar-nav>li>a {
    color: var(--backNav);
    padding: 0 5px;
    font-size:12px
}
.uk-navbar-nav>li>a:before {
    content: "";
    height: 20px;
    margin-right: 10px;
    border-right: 1px solid var(--greyBorder);
}
.uk-navbar-nav>li:first-child>a:before {
    content: "";
    border: none;
}
strong {font-weight: 900;}
.uppercase{text-transform: uppercase;}
.underline{text-decoration: underline;}
.red,
.uk-navbar-nav>li.uk-active>a {
    color: var(--red);
}
.uk-navbar-nav>li.uk-active>a {
    text-decoration: underline;
}
.red-bg {
    background-color: var(--red);
    color: var(--white);
}
.grey {
    color: var(--grey);
}
.blue {
    color: var(--blue);
}
.purple-bg {
    background-color: var(--purple);
    color: var(--white);
}
.purple-bg:hover{background-color: var(--red);} 

.city-pin {
    text-transform: uppercase;
}
.city-pin:before {
    content:url('../images/location-pointer.png');
    margin-right:7px;
    padding-top:3px;
}

.stars {
    white-space: nowrap;
}

/* ----------------------------- MAIN BANNER */
.section-banner{
    background-image: linear-gradient(var(--white), var(--white), var(--white), var(--whiteBack));
}
.banner {
    min-height: 330px;
    background-image: url(../images/banner.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding: 10px 10%;
}
.banner-text{
    margin: 10%;
}
.banner-text h1{
    font-size: 36px;
    color: var(--backMain);
    font-weight: bold;
}
.banner-text p{
    width: 50%
}
button {
    cursor: pointer;
    padding: 10px 20px;
    border: 0;
    border-radius: 10px;
    text-align: center;
}
button.big {
    padding: 10px 30px;
    border: 0;
    border-radius: 15px;
    box-shadow: 0.97px 1.749px 5px rgba(0,0,0,0.13);
    min-width: 230px;
}
button.big:hover,
button.red-bg:hover {
    background-color: var(--red);
}
button.red-bg:hover{
    background-color: var(--purple);
}
.calc {
    margin: 50px;
}
.calc div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.calc .big {
    padding: 10px 65px;
}

/* ----------------------------- INNER */
.breadcrumb {
    margin-top: 20px;
    margin-left: 60px;
}
ul.check {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
ul.check li::before{
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-right: 8px;
    content: url(../images/icons/ico-check.svg);
}
.logo-about {
    max-width: 200px;
    max-height: 50px; 
}
.likes h6 {
    font-size: 11px;
    color: var(--grey);
    margin: 16px 0 8px 0;
}
.likes-button {
    display: inline-block;
    border: 1px solid var(--red);
    border-radius: 5px;
}
.likes-button button{
    border-radius: 0;
    border: none;
    background-color: transparent;
    border-right: 1px solid var(--red);
}
.likes-button span{
    padding: 0 18px;
    color: var(--red);
    font-size: 16px;
}
.ico-users-text {
    color: var(--greyBorder);
    text-align: center;
}
.ico-users-text i{
    margin-right: 8px;
}

.red-line-bottom::after {
    content: '';
    display: block;
    margin-top: 30px;
    width: 167px;
    border-bottom: 3px solid var(--red);
}
.ul-phones {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
.ul-phones li::before {
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-right: 8px;
    content:url(../images/icons/ico-phone.svg);
}

/* ----------------------------- MAIN */
main {
    background-color: var(--whiteBack);
    padding: 35px 60px;
}
.inner h2 span{
    padding-bottom: 2px;
    border-bottom: 2px solid var(--red);
}
.inner h3{
    font-size: 24px;
}
.inner p,
.inner ul {
    font-size: 14px;
}

.inner .uk-tab {
    margin-bottom:0;
}
.uk-tab>.uk-active>a {
    border-bottom: 1px solid var(--red);
}

.all-offers-content,
.inner-content {
    background-color: var(--white);
}

.all-offers-content{
    border: 1px solid var(--greyBorder);
    border-top:none;
}
.offer {
    border-bottom: 1px solid var(--greyBorder);
}
.offer:last-child {
    border: 0;
}
.offer.active {
    border-left: 1px solid var(--red);
}
.company-logo {
    width: 200px;
    margin-right: 10px;
}
.company-logo img {
    max-height: 70px;
    max-width: 140px;
}
.company-title{
    width: 150px;
    margin-right: 30px;
}
.company-title p{
    margin-bottom: 5px;
}
.company-text{
    margin-right: 15px;
    flex-grow: 2;
}

.table-rank div div.offer:first-child {
    color: var(--grey);
    border-top: 1px solid var(--greyBorder);
}

/* ------------------------------------ RIGHTBAR */
.right-bar {
    width: 270px;
}
.right-bar div{
    margin-bottom:20px;
    background-color: var(--white);
}
.right-bar div h3{
    text-align: center;
    font-weight: bold;
}
.right-bar div h3 span{
    border-bottom: 1px solid var(--red);
}
.right-bar div a{
    font-size: 14px;
    color: var(--blue);
}
.right-bar .support {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}
.right-bar .support a{
    font-size: 12px;
    color: var(--backMain);
}

.right-bar .support button{
    margin:10px;
    padding: 7px;
    color: var(--whiteButton);
    font-size: 12px;
}
.right-bar .support-img {
    margin: 20px 30px;
}

.right-bar .search {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin: 0 -10px;
    border-radius: 10px;
    border: 1px solid var(--red);
}
.right-bar .search input{
    width: 145px;
    padding-left: 25px;
    color: var(--greyDark);
}
.right-bar .search input:focus{
    border-radius: 10px;
    border-color: dodgerblue;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
    box-shadow: 0 0 8px 0 dodgerblue;
}
.right-bar .search .icon-search::before {
    position: absolute;
    margin-top: 8px;
    margin-left: 8px;
    content:url('../images/icons/search.png');
}
.right-bar .search input,
.right-bar .search button{
    border: 0;
    border-radius: 9px;
}
.right-bar .search button{
    color: var(--white);
    background-color: var(--red);
    font-size: 11px;
}
.right-bar .search button:hover{
    background-color: var(--purple);
}

.right-bar .offers-right {
    padding: 20px;
}
.right-bar ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
.right-bar section {
    margin: 10px -20px;
    padding: 10px 20px 15px 20px;
    border-bottom: 1px solid var(--greyBorder);
}
.right-bar section:last-child {
    border: none;
}
.right-bar div h5{
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
}
.right-bar div p{
    margin: 5px 0;
}
button.small {
    border-radius: 5px;
    padding: 5px 10px;
}
button.bordered {
    background-color: transparent;
    border: 1px solid var(--red);
}

.seo-text{
    margin: 20px 0 40px 0;
}

/* ----------------------------------- ICONS */
.ico {
    display: inline-block;
    vertical-align: middle;
    min-height: 15px;
    min-width: 15px;
}
.ico-small {
    display: inline-block;
    vertical-align: middle;
    height: 16px;
    width: 16px;
}
.ico-medium {
    display: inline-block;
    vertical-align: middle;
    height: 24px;
    width: 24px;
}

.ico-arrow {
    background: url(../images/icons/ico-arrow.png) no-repeat center;
}
.ico-calc {
    background: url(../images/icons/ico-calc.png) no-repeat;
}
.ico-heart {
    content: url(../images/icons/ico-heart.svg);
}
.ico-users {
    content: url(../images/icons/ico-users.svg);
}
.ico-pin {
    content: url(../images/icons/ico-pin.svg);
}
.ico-star {
    content: url(../images/icons/ico-star.svg);
}
.ico-star-grey {
    content: url(../images/icons/ico-star-grey.svg);
}
/* ----------------------------------- FOOTER */
footer {
    background-color: var(--backH);
    padding: 40px 0;
    text-align: center;
    color: var(--greyDark);
    line-height: 18px;

}
footer p{
    color: var(--greyDark);
}
footer .copy{
    color: var(--white);
}

@media only screen and (max-width:767px){
    .uk-navbar {
        padding: 0;
    }
    main {
        margin: 0 -15px;
        padding: 10px;
    }
    .logo-about {
        max-width: 150px;
    }
    .ico-users-text {
        margin: 10px 0 5px 0;
    }
    .stars .ico-medium {
        width: 12px;
    }
}